/* .services {
    border: 1px solid black;
} */

.ul {
    display: flex;
    color: grey;
    gap: 20px;
    list-style-type: none;
}

li:hover {
    color: rgb(228, 70, 82);
}

a {
    text-decoration: none;
    color: grey;
}

@media screen and (max-width: 1050px) {
    .services {
        background-color: coral;
    }

    .ul {
        display: none;
    }

}

@media screen and (min-width:1051px) {
    .menuIcon {
        display: none;
    }

}